body {
    background-color: 
    #266e4b;
    color:white;
}

video {
    padding-top: 9rem;
    padding-left: auto;
}

table {
    position: absolute;
    top: 20px;
    right: 60px;
    border-spacing: 20px;
    border-collapse: separate;
    font-size: 20px;
    font-family: 'Calibri', Arial, Helvetica, sans-serif
}